div.container {
    max-width: 1000px;
    margin: auto;
}
header.params {
    border: 1px solid #000;
}
header > h1 {
    text-align: center
}

body.container {
    max-width: 1000px;
    margin: 0 auto;
}


h1.params {
    text-align: center;
    border: 1px solid #000;
}

section.params {
    border: 1px solid #000;
    text-align: center;
    /*text-transform: uppercase;*/
    /*жирный шрифт тут*/
    /*text-indent: -10em; !*красная строка*!*/
}

.styled-text {
    /*color: blue; !* Задаем цвет текста *!*/
    /*font-weight: 700; !* Делаем текст жирным *!*/
    /*font-style: italic; !* Добавляем курсив *!*/
    font-size: 30px;
    /*background-color: yellow; !* Задаем фоновый цвет *!*/
    text-decoration: underline; /* Добавляем подчеркивание */
    /*padding: 2px 4px; !* Добавляем внутренний отступ *!*/
    /*border: 1px solid red; !* Добавляем рамку *!*/
    /*border-radius: 4px; !* Добавляем скругленные углы для рамки *!*/
    /*word-spacing: 4px; !* Устанавливает интервал между словами в 4 пикселя *!*/
    /*letter-spacing: 2px; !* Устанавливает интервал между символами в заголовке на 2 пикселя *!*/

}

.main-content {
    margin-bottom: 60px; /* Отступ снизу, равный высоте закрепленного подвала */
}

td.params {
    width: 25%;
    border: 1px solid #000;
}
.border {
    border: 1px solid #000; /* Толщина, стиль и цвет рамки */
}

.center {
    text-align: center;
}

.borderTextCentre {
    border: 1px solid #000;
    text-align: center;
}



section aside img {
    width: 300px;
    height: auto; /* Пропорциональное масштабирование */
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
}

.bordered-row {
    border: 1px solid black;
}

.profile_img {
    width: 300px;
    height: auto; /* Пропорциональное масштабирование */
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
}

.logo_img {
    max-width: 10%;
    height: auto;
    vertical-align: middle;
    horiz-align: left;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
}

.textLogo {
    text-shadow: 1px 1px 50px rgba(0, 0, 0, 1);
    line-height: 20px; /*высота строки*/
    font-weight: bold;
    background-color: antiquewhite;
    color: #4b4031;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container > section {
    margin-bottom: 10px;
    flex-direction: column;
}

/* Медиа-запрос для экранов шириной менее 768px (портативные устройства) */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column-reverse; /* Изменение на колоночное расположение */
        align-items: center; /* Центрирование элементов по горизонтали */
    }

    .flex-container > section {
        margin-bottom: 20px; /* Увеличение отступа между секциями */
    }
}



/*.footer {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/
.footer {
    /* Стили для подвала */
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1px;
    position: fixed; /* Закрепляем подвал внизу страницы */
    bottom: 0; /* Отступ снизу */
    left: 0; /* Отступ слева */
    right: 0; /* Отступ справа */
}


 /*Стили для таблицы */
table.grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Отступ между ячейками */
}

/* Скрываем <thead>, <tbody> и <tr> */
table.grid-table thead,
table.grid-table tbody,
table.grid-table tr {
    display: contents;
}

/* Стилизация ячеек таблицы */
table.grid-table td,
table.grid-table th {
    border: 1px solid #ccc; /* Границы для ячеек */
    padding: 10px; /* Отступ внутри ячеек */
    text-align: center;
}

table.grid-table td:nth-child(even) {
    background-color: #f2f2f2; /* Цвет фона для четных строк */
}





/* Скрытие элементов на маленьких экранах */
/*@media screen and (max-width: 1050px) {*/

/*    table.grid-table {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-gap: 10px; !* Отступ между ячейками *!*/
/*    }*/

/*    .flex-container {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center; !* Центрирование по вертикали *!*/
/*        align-items: center; !* Центрирование по горизонтали *!*/
/*    }*/

/*    .hide-on-small-screen {*/
/*        display: none;*/
/*    }*/
/*}*/


/* Скрытие элементов на средних экранах */
@media screen and (min-width: 1920px) {
    .container {
        padding: 20px; /* Увеличить отступы для контейнера на больших экранах */
    }

    .params {
        font-size: 24px; /* Увеличить размер шрифта для заголовков */
    }
}

/* Скрытие элементов на больших экранах */
@media screen and (min-width: 2560px) {

    .container {
        max-width: 1400px; /* Увеличить максимальную ширину контейнера */
    }
}


